.vaccinate-appoinment-edit-modal--content {
    .modal-dialog {
        .modal-content {
            .modal-footer {
                .close-btn {
                    color: #fff !important;
                }
                .submit-btn {
                    color: #fff !important;
                    background-color: #3cbeb3;
                    border-color: #3cbeb3;
                }
            }
        }
    }
}
