.block-header {
    .breadcrumb {
        background-color: transparent;
        color: #222;
        padding: 0;
        li:nth-child(1) {
            font-size: 1.6rem;
            margin: -11px 0;
            font-weight: 600;
        }
        .breadcrumb-item {
            a {
                color: #6c757d;
            }
            &.active {
                color: #3cbeb3;
            }
        }
    }
}
